@import "Fonts/vazir.css"; 

html {
    overflow : hidden;
}

.col-container {
  display: table;
  width: 100%;
}
.col-chat {
  display: table-cell;
}

body {
    font-family: Vazir; 
    height: 600px;
    width : 100%;
}

#chat-container{
    padding-right : 0px;
    padding-left : 0px;
}

#header{
    height: 50px;
    padding: 0px;
    position: fixed;
    top: 0;
    width : 100%;
    z-index: 100;
	left:0;
}

#footer{
    position:fixed;
	width:100%;
	left:0;
    top:0;
    height : 100px;
    bottom:0;
	top:auto;
}

#title{
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    background-color: rgb(39, 104, 153);
    width : 100%;
    padding-bottom: 5px;
}

h3 {
    color: black;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}

#chatbox {
    margin-left: auto;
    width: 100%;
    background-color: rgb(194, 227, 224);
    position:absolute;
	  top:50px;
	  bottom:100px;
    overflow:auto;
    padding : 20px;
}

#userInput {
    margin-left: auto;
    margin-right: 60px;
    width: 100%;
    margin-top: 0px;
}

#textInput {
    width: 200px;
    border: none;
    border-bottom: 3px solid #009688;
    font-family: Vazir;
    font-size: 17px;
    text-align: right;
}

.emojionearea-editor{
  text-align: right;

}

#buttonInput{
    float: right;
    padding: 3px;
    font-family: Vazir;
    font-size: 25px;
    color: white;
    background-color: rgb(28, 121, 206);
    border-radius: 10px;
    width: 100%;
}

#buttonInput:hover{
    background-color: rgb(25, 109, 186);
}


.userText {
    color: black;
    font-family: Vazir;
    font-size: 13px;
    text-align: right;
    line-height: 25px;
    width : 100%;
    border-radius: 12px;
    margin-top: 8px;
    background-color: lightyellow;
}


.botText {
    color: black;
    font-family: Vazir;
    font-size: 13px;
    text-align: left;
    line-height: 25px;
    border-radius: 12px;
    width : 100%;
    margin-top: 8px;
    background-color: rgb(255, 255, 255);
}

#bot-avatar{
    width: 150%;
    border-radius: 30px;
    float: left;
    padding: 6px;
    margin-left: -20px;
    margin-right: 15px;
}

#user-avatar{
    border-radius: 30px;
    width: 150%;
    float: right;
    padding : 6px;
    margin-right: -10px;
}


#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 100%;
}

.container img {
    float: left;
    max-width: 50px;
    width: 100%;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #ddd;
    
  }
  .container img.right {
    float: right;
    margin-left: 5px;
    margin-right:0;
  }
  #myframe{
      background-color: rgb(194, 227, 224);
      font-family: Vazir;
      width : 100%;
  }
  
/* CSS talk bubble */
.talk-bubble-bot {
    margin: 0px;
    margin-bottom: 40px;
    position: relative;
    width: auto;
    height: auto;
    float : left;
    min-height: 65px;
  }

  .talk-bubble-user {
    margin: 0px;
    margin-bottom: 40px;
    position: relative;
    width: auto;
    height: auto;
    background-color: lightyellow;
    float : right;
    margin-right : 10px;
    min-height: 65px;
  }
  
  .round{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
  
  }
  
  .tri-right.left-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: lightyellow transparent transparent transparent;
  }
  
  .tri-right.left-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 25px;
    bottom: auto;
    border: 12px solid;
    border-color: white white transparent transparent;
  }
  
  .tri-right.btm-left:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent lightyellow;
  }
  
  .tri-right.btm-left-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 12px solid;
    border-color: white transparent transparent white;
  }
  
  .tri-right.btm-right-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 38px;
    bottom: -20px;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
  }
  
  
  .tri-right.btm-right:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 0px;
    bottom: -20px;
    border: 12px solid;
    border-color: lightyellow lightyellow transparent transparent;
  }
  
  .tri-right.right-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 25px;
    bottom: auto;
    border: 12px solid;
    border-color: lightyellow transparent transparent lightyellow;
  }
  
  .tri-right.right-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 0px;
    bottom: auto;
    border: 20px solid;
    border-color: lightyellow transparent transparent transparent;
  }
  
  /* talk bubble contents */
  .talktext{
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
    padding-top : 1.5em;
  }
  .talktext p{
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  }