<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script src="/static/FarsiType.js"></script>
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700'>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/static/emojionearea-master/emojionearea-master/dist/emojionearea.min.css" media="screen">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" media="screen">
  <link rel="stylesheet" type="text/css" href="http://mervick.github.io/lib/google-code-prettify/skins/tomorrow.css" media="screen">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://mervick.github.io/lib/google-code-prettify/prettify.js"></script>
  <script type="text/javascript" src="/static/emojionearea-master/emojionearea-master/dist/emojionearea.min.js"></script>
</head>

<body style="background-color: rgb(194, 227, 224);">
  <div id = "myframe">
    <div id="header">
      <div class="dropdown">
          <ul class="dropbtn icons btn-right showLeft" onclick="showDropdown()">
              <li></li>
              <li></li>
              <li></li>
          </ul>
          <div id="myDropdown" class="dropdown-content">
              <a id ="hint">راهنما</a>
              <a id ="about">درباره</a>
              <a id='contact'>ارتباط</a>
          </div>
        </div>
      <h1 id = "title">چت بات</h1>  
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close" id = "close-hint">&times;</span>
          <p>
            <p id="hint-explanation">با نوشتن دستورایی به فرمت زیر می تونی اطلاعات درسی مورد نیازتو بدست بیاری</p>
            <ul id = "hint-list">
              <li>نمره های من </li>
                <li>نمره های درس فلان</li>
                <li>نمره فلان در درس فلان</li>
                <li>نام استاد درس فلان</li>
                <li>نام چیف درس فلان</li>
                <li>برنامه درس فلان</li>
                <li>نمره میانترم درس فلان</li>
                <li>چه خبر؟</li>
                <li>کوییز های انجام نشده</li>
                <li>سوال های کوییز</li>
                <li>فعالیت های نزدیک</li>
                <li>ایمیل فلانی</li>
                <li>درس های من</li>
                <li>پیام های جدید در فروم</li>
                <li>متن پیام با موضوع فلان </li>
                <li>ساعت چنده</li>
                <li>تاریخ امروز</li>
            </ul>      
          </p>
        </div>
      </div>   

      <div id="about-modal" class="modal">
        <div class="modal-content">
          <span class="close" id = "close-about">&times;</span>
          <p>
            <p id="about-content">سلام. من چت بات هستم. من برای جوابگویی سوالات درسی شما طراحی شده ام. برای آشنایی با نحوه کار با بات به راهنما مراجعه کن.</p>
          </p>
        </div>
      </div>   

    </div>
    <div id="chatbox">
      <div class = "row">
        <div class = "col-xs-3 col-chat">
          <img src="/static/chatbot.jpg" alt="chatbot" id = "bot-avatar">
        </div>
        <div class = "col-xs-9 col-chat">
            <div class=" botText talk-bubble-bot tri-right round left-in" style = "background-color : white;"> 
              <div class="talktext">
                <p class = "botText">سلام من چت بات هستم. بفرمایید</p>
              </div>
            </div>
        </div>
    </div>
    </div>
    <div id="footer">
      <div id="userInput" class="container">
        <div class="clearfix">
            <div class="row">
              <div class="col-6">
                    <input id="textInput" type = "text" name="msg" placeholder="‍‍‍‍‍...پیام خود را بنویسید"/>
              </div>
              <div class="col-6">
                <div id="emoji-container"></div>
              </div>
            </div>
            <div class = "row">
              <div class = "col">
              <span class="input-group-btn">
                <button id="buttonInput" class="btn btn-primary btn-sm" onclick="getBotResponse()"><i class="fa fa-send fa-1x" aria-hidden="true"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>      
          <script type="text/javascript">
            $(document).ready(function() {
              $("#textInput").emojioneArea({
                attributes: {
                  dir : "rtl",
                  autocomplete   : "on",
                },
                events: {
                keyup: function(editor, event) {
                  if (event.which == 13) { 
                  var text =  $('#textInput').data("emojioneArea").getText().trim();   
                  if(text != "" || text.replace(/\s/g, '').length)
                    $("#buttonInput").click();  
                  }
                }
              }
            });
          });
        </script>              
    </div>
</div>
<script>
    function changeLanguage(language) {
        var element = document.getElementById("url");
        element.value = language;
        element.innerHTML = language;
    }

    function showDropdown() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function(event) {

    }
</script>

    <script>
        function getBotResponse() {

        var rawText =  $('#textInput').data("emojioneArea").getText().trim();       
        if(rawText == "")
          return   
        var userHtml = '<div class = "row"><div class = "col-xs-9 col-chat"> <div class="talk-bubble-user tri-right round right-in"> <div class="talktext"> <p class = "userText">' +  rawText + '</p></div></div></div><div class = "col-xs-3 col-chat text-right"> <img src="/static/f1.png" alt="student" class="right" id = "user-avatar"></div></div>' ;
        $("#chatbox").append(userHtml);
        $('#chatbox').scrollTop($('#chatbox')[0].scrollHeight);
       
        $.get("/get", { msg: rawText }).done(function(data) {
          var str = data;
          var n = str.search("#");
          var res = str.substring(n+1, str.length);
          data = str.substring(0, n);
          var botHtml = '<div class="row"><div class = "col-xs-3 col-chat"> <img src="/static/chatbot.jpg" alt="chatbot" id = "bot-avatar"></div> <div class = "col-xs-9 col-chat"> <div class="talk-bubble-bot tri-right round left-in" style = "background-color : white;"> <div class="talktext"><p class = "botText">' + data + '</p></div></div></div></div>';
          $("#chatbox").append(botHtml);
          $("div.emojionearea-editor").data("emojioneArea").setText("");
          $('#chatbox').scrollTop($('#chatbox')[0].scrollHeight);
        });
      } 
    </script>

  <script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("hint");
    var span = document.getElementById("close-hint");

    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    span.onclick = function() {
      modal.style.display = "none";
    }
    
   window.addEventListener('click', function(event){
      if (event.target == modal) {
        modal.style.display = "none";
      }
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
          }
        }
      }
    });
    
  </script>

  <script>
    var modal1 = document.getElementById("about-modal");
    var btn1 = document.getElementById("about");
    var span = document.getElementById("close-about");

    btn1.onclick = function() {
      modal1.style.display = "block";
    }
    
    span.onclick = function() {
      modal1.style.display = "none";
    }
    
   window.addEventListener('click', function(event) {
      if (event.target == modal1) {
        modal1.style.display = "none";
      }
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
          }
        }
      }
   });
  </script>

</body>
</html>
